<div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0"></div>
    <div class="fixed inset-0 overflow-hidden">
        <div class="absolute inset-0 overflow-hidden ">
            <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full sm:pl-10 ">
                <div id="cart-panel" class="pointer-events-auto w-[719px]">
                    <div class="flex h-full flex-col overflow-y-scroll bg-white py-6 shadow-xl">
                        <div class="flex items-center justify-between sm:px-14 p-6">
                            <h2 class="text-[22px] font-bold" id="slide-over-title">
                                MY CART
                            </h2>
                            <button (click)="close()" type="button"
                                class="-mr-2 rounded-md p-2 inline-flex items-center justify-center hover:text-gray-500 focus:outline-none"
                                tabindex="-1">
                                <span class="sr-only">Close panel</span>
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M6 18L18 6M6 6l12 12" />
                                </svg>
                            </button>
                        </div>

                        <div class="px-6 sm:px-14  space-y-4">

                            <div *ngFor="let item of cart.items" class="flex items-center justify-between">
                                <div class="flex items-start w-full">
                                    <img [src]="item.imageModel.originalPath" alt="Product Image"
                                        class="w-26 h-48  object-cover rounded tub-bg rounded-md py-6">
                                    <div class="flex-1 ml-4">
                                        <div class="flex justify-between items-center w-full">
                                            <img [src]="'../../../assets/Protein Powder Comanies/' + item.brandImage"
                                                alt="Product Image" class="w-16 h-30 object-cover rounded">
                                            <button (click)="delteItem(item.id)"
                                                class="text-red-600 hover:text-red-800 p-2" id="deleteItem"
                                                tabindex="-1">
                                                <img src="../../../assets/trash.png" alt="Delete" class="h-6 w-6">
                                            </button>

                                        </div>
                                        <p class="text-[14px] sm:text-[20px] product-info font-bold">{{item.title}}
                                            {{item.flavorSubCategoryText}} </p>
                                        <p class="text-[12px] sm:text-[20px] product-info font-bold">2lb</p>

                                        <div class="flex justify-between items-center w-full mt-4">
                                            <div class="text-[13px] sm:text-[20px] font-semibold orange" id="price">
                                                ${{item.totalPrice}} <span
                                                    class="ml-2 sm:ml-6 line-through discount-text">${{item.undiscountedTotalPrice}}</span>
                                            </div>
                                            <div
                                                class="flex items-center justify-between border py-1 w-[67px] sm:w-[157px] text-[14px] sm:text-[20px] font-semibold">
                                                <button tabindex="-1" id="decreaseQty" class="px-1 sm:px-3"
                                                    (click)="decreaseQty(item)">-</button>
                                                <span id="quantity" class="sm:px-2">{{ item.quantity }}</span>
                                                <button tabindex="-1" id="increaseQty" class="px-1 sm:px-3"
                                                    (click)="increaseQty(item)">+</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="flex items-center justify-end gap-2">
                                <img src="../../../assets/orange-fav.png" alt="Discount Icon" class="h-6 w-7" />
                                <p
                                    class="bg-gradient-to-b from-[#ECA741] to-[#F05E23] bg-clip-text text-transparent font-semibold text-[16px] sm:text-[20px]">
                                    You Save ${{cart.youSaved}}
                                </p>
                            </div>
                        </div>

                        <div class="py-8 w-full border-t border-b mt-6">
                            <div class="flex flex-col justify-center px-6 sm:px-14 ">
                                <div class="flex justify-between items-center mb-4">
                                    <p class="sm:text-[20px] text-[16px] font-bold">Subtotal ({{cart.items.length}})</p>
                                    <p class="sm:text-[20px] text-[16px]  font-bold">${{cart.subTotal}}</p>
                                </div>

                                <p class="mb-6 sm:text-[20px] text-[16px]  product-info font-bold">Shipping and taxes
                                    will be calculated
                                    at checkout
                                </p>
                                <button (click)="checkout()"
                                    class="bg-black text-white font-bold py-2 sm:py-6 px-4 rounded-md w-full">
                                    CHECKOUT
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>