<!-- <div class="flex flex-col bg-gray-50 rounded-md border-2 border-gray-200">

    <div class="border-b">
        <div class="px-4 md:px-12 py-2 sm:w-full">
            <h2 class="text-sm font-bold leading-9 tracking-tight text-gray-900">Step 02/05</h2>
            <p class="text-sm -mt-4 leading-9 tracking-tight text-gray-400 mb-1">Dietary Preferences
            </p>
            <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4">
                <div class="bg-custom h-2.5 rounded-full" style="width: 40%"></div>
            </div>

        </div>
    </div>

    <div class="py-8 px-4 md:px-12">

        <p class="rounded-md text-sm text-black text-xl font-bold mb-6">Do you currently follow a specific diet?</p>

        <app-checkbox-button [enumValues]="dietaryPreferences" [selectedValues]="quiz.dietaryPreferences">
        </app-checkbox-button>

        <p class="rounded-md text-sm text-black text-xl font-bold py-6">Any dietary restrictions, allergies, or
            intolerance?</p>
        <app-checkbox-button [enumValues]="dietaryRestrictions" [selectedValues]="quiz.dietaryRestrictions">
        </app-checkbox-button>

        <p class="rounded-md text-sm text-black text-xl font-bold py-6">What flavors do you like?</p>
        <app-checkbox-button [enumValues]="flavors" [selectedValues]="quiz.flavors">
        </app-checkbox-button>



        <p class="rounded-md text-sm text-black text-xl font-bold pt-6 pb-4">Are there any textures you don’t like?</p>
        <div class="mt-2">
            <textarea [(ngModel)]="quiz.textureDislikes" rows="4" name="comment" id="comment"
                class="block w-full rounded-md border-0 
     text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"></textarea>
        </div>



    </div>
</div> -->

<div class="w-full bg-progress-bar h-3.5 sm:mb-12 mb-0.5">
    <div class="bg-progress-bar-fill h-3.5" style="width: 20%"></div>
</div>


<div class="mx-auto sm:py-10 py-6 px-6 sm:px-10 lg:px-36">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <div class="p-0.5 sm:p-8 lg:p-16">
        <p class="text-[30px] sm:text-[64px] lg:text-[96px] leading-tight font-bold">
            How often do you excercise each week?
        </p>
      </div>
      
      <div class="flex justify-center items-center w-full">
        <app-radio-button [enumValues]="exerciseFrequencies" [selectedValue]="quiz.exerciseFrequency"
        (valueChange)="onExerciseFrequencyChange($event)"></app-radio-button>
      </div>
    </div>
  </div>
  