.bg-flex-orange {
    background-color: #F9A438;
}

.bg-flex-border {
    border-color: #F9A438;
}


.bg-max-orange {
    background: linear-gradient(to bottom, #F9A438 13%, #F05E23 100%);
}



.element {
    position: relative;
    padding-bottom: 5px; /* Adjust as needed */
  }
  
  .element::after {
    content: "";
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    left: 0;
    width: 100%;
    height: 6px; /* Border thickness */
    background: linear-gradient(to right, #F05E23 13%, #F9A438 100%);
  }
  