<app-app-menu [hideMenu]="true"></app-app-menu>

<div class="sm:px-0 px-6">
    <div class="flex flex-col justify-center text-center pt-12 sm:pt-16">
        <h1 class="text-[24px] font-bold text-black sm:text-[35px]">Sample Your Protein Powder, Never Guess Again</h1>
        <h3 class="text-[13px font-bold text-black pt-4">Cancel anytime. Only available in the U.S.</h3>
    </div>

    <div class="flex items-center justify-center pb-4 w-full">
        <div class="flex flex-col md:flex-row items-center justify-center sm:pt-10 bg-white rounded-lg gap-x-12 w-full max-w-[990px]">
    
            <div class="flex justify-center items-center text-center md:w-1/2 mt-6 sm:mt-2">
                <img src="../../../../assets/sample-box.png" alt="Sample Image"
                    class="rounded-lg object-cover w-full h-full">
            </div>

            <div class="mt-6 sm:mt-8">
                <p class="element  font-bold text-[24px] w-[255px] mb-4 text-center mx-auto">
                    <span>$14 DISCOVER PLAN</span>
                </p>
    
                <div class="flex flex-col w-full mt-10">
                    <div class="flex items-center mb-2">
                        <!-- Icon -->
                        <img src="../../../../assets/checked-icon.png" alt="Icon" class="w-6 h-6 mr-2">
                    
                        <!-- Text -->
                        <p class="text-[24px] font-bold">Always Sample First</p>
                    </div>
                    
                    <p class="text-[15px] text-black w-full"><b>Curated sample packs</b> s from all your <b>favorite brands </b></p>
                </div>
    
                <div class="flex flex-col w-full mt-4">
                    <div class="flex items-center mb-2">
                        <!-- Icon -->
                        <img src="../../../../assets/checked-icon.png" alt="Icon" class="w-6 h-6 mr-2">
                    
                        <!-- Text -->
                        <p class="text-[24px] font-bold">Exclusive Discounts</p>

                    </div>
                    <p class="text-[15px] text-black w-full"><b>Unlock 25-50% off tubs</b> in our
                        <b>member’s exclusive shop</b></p>
                </div>
    
                <div class="flex flex-col w-full mt-4 mb-2">
                    <div class="flex items-center mb-2">
                        <!-- Icon -->
                        <img src="../../../../assets/checked-icon.png" alt="Icon" class="w-6 h-6 mr-2">
                    
                        <!-- Text -->
                        <p class="text-[24px] font-bold">Customize Anytime</p>

                    </div>
                    <p class="text-[15px] text-black mt-1 w-full"><b>Adjust preferences</b> whenever your <b>goals or tastes change</b></p>
                </div>
    
                <button [routerLink]="'/checkout/' + orderId"
                    class="w-full bg-black text-white font-bold py-1.5 rounded-xl mt-6 text-[25px] w-[352px]">
                    NEXT
                </button>
            </div>
    
         
        </div>
    </div>
    
</div>