<app-inside-menu [showBottomMenu]="false"></app-inside-menu>

<div class="bg-white">
    <div>
        <div class="lg:grid lg:grid-cols-2">

            <div
                class="flex flex-col-reverse items-center justify-center h-full w-full image-bg image-center text-center relative">
                <div class="absolute top-12 left-0 bg-white px-3 py-1">
                    <p
                        class="text-transparent bg-gradient-to-b from-[#ECA741] to-[#F05E23] font-bold italic text-[25px] bg-clip-text">
                        {{product.discount}}% OFF
                    </p>
                </div>

                <div class="flex items-center justify-center">
                    <!-- Tab panel, show/hide based on tab state. -->
                    <div id="tabs-1-panel-1" aria-labelledby="tabs-1-tab-1" role="tabpanel" tabindex="0">
                        <img [src]="product.image.originalPath"
                            class="aspect-square object-contain sm:rounded-lg mx-auto h-96">
                    </div>
                </div>
            </div>


            <div class="mt-10 px-4 sm:mt-16 sm:px-0 lg:mt-0">
                <div class="sm:p-16">
                    <div class="flex flex-col sm:flex-row justify-between sm:justify-between gap-4">
                        <!-- Left Section: Image and Title -->
                        <div class="flex flex-col items-start gap-3">
                            <img [src]="'../../../assets/Protein Powder Comanies/' + product.brandImage"
                                class="aspect-square object-contain sm:rounded-lg h-16">
                            <div>
                                <h2 class="sr-only">Product information</h2>
                                <p class="text-[24px] sm:text-[30px] tracking-wider font-bold uppercase">
                                    {{ product.title }}
                                </p>
                            </div>
                        </div>

                        <!-- Right Section: Price -->
                        <div class="flex flex-col sm:flex-row py-6 sm:py-0 sm:text-right">
                            <span class="font-bold orange text-[20px] mr-6">${{ (product.price - 21) | number: '1.2-2'
                                }}</span>
                            <span class="text-[20px] line-through">${{ product.price | number: '1.2-2' }}</span>
                        </div>
                    </div>


                    <div class="sm:py-12 flex flex-col ">
                        <!-- Left side: Flavor and Size on separate rows, aligned properly -->
                        <div class="flex flex-col text-[14px]">
                            <div class="flex uppercase">
                                <p class="font-bold w-[120px]">FLAVOR</p>
                                <p>{{product.flavorSubCategoryText}}</p>
                            </div>
                            <div class="flex mt-6 text-[14px]">
                                <p class="font-bold w-[120px] ]  uppercase">SIZE</p>
                                <p class="font-semibold">{{product.gramsProteinContent}} lbs, FULL SIZE</p>
                            </div>
                        </div>
                    </div>
                    
                    

                    <form class="mt-6">


                        <div class="mt-10 flex">
                            <button *ngIf="!backToResults" (click)="addToCart(product.id)" type="submit" class="flex flex-1 items-center justify-center bg-black px-8 py-4
                            text-[14px] font-bold text-white">ADD TO CART</button>

                            <button *ngIf="backToResults > 0" [routerLink]="'/result/' + backToResults" type="submit" 
                            class="flex flex-1 items-center justify-center bg-black px-8 py-4
                            text-[14px] font-bold text-white">BACK</button>

                        </div>
                    </form>

                    <section aria-labelledby="details-heading" class="mt-12">
                        <h2 id="details-heading" class="sr-only">Additional details</h2>
                        <div class="space-y-6">
                            <!-- Description Section -->
                            <div (click)="toggleSection('description')" class="flex justify-between border-b border-gray-300 cursor-pointer">
                                <span class="text-[14px] font-bold pb-5 uppercase">Description</span>
                                <svg class="w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7" />
                                </svg>
                            </div>
                            <div *ngIf="activeSection === 'description'">
                                <p>{{product.description}}</p>
                            </div>
                    
                            <!-- Suggested Use Section -->
                            <div (click)="toggleSection('suggestedUse')" class="flex justify-between border-b border-gray-300 cursor-pointer">
                                <span class="text-[14px] font-bold pb-5 uppercase">Suggested Use</span>
                                <svg class="w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7" />
                                </svg>
                            </div>
                            <div *ngIf="activeSection === 'suggestedUse'">
                                <p>{{product.suggestedUSe}}</p>
                            </div>
                    
                            <!-- Nutrition Facts Section -->
                            <div (click)="toggleSection('nutritionFacts')" class="flex justify-between border-b border-gray-300 cursor-pointer">
                                <span class="text-[14px] font-bold pb-5 uppercase">Nutrition Facts</span>
                                <svg class="w-5 h-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M9 5l7 7-7 7" />
                                </svg>
                            </div>
                            <div *ngIf="activeSection === 'nutritionFacts'"> 
                                <img *ngIf="product.nutritionInfo != null" [src]="product.nutritionInfo.originalPath" alt="Nutrition Facts" class="w-96 h-auto">
                            </div>
                            
                        </div>
                    </section>
                    
                </div>
            </div>

        </div>

        <div class="py-16 text-center max-w-6xl mx-auto">
            <p class="font-bold  text-[24px] sm:text-[30px]">OTHER PERSONALIZED SUGGESTIONS</p>

            <div class="grid grid-cols-2 gap-0 sm:gap-4 sm:grid-cols-4">
                <div *ngFor="let product of personalizedOptions" class="text-center py-6 px-6 relative">

                    <img [src]="product.image.originalPath" (click)="product.unlocked ? navigateAndRefresh(product.id) : null"
                    [ngClass]="{'locked-bg': !product.unlocked}" 
                    class="aspect-square object-contain sm:rounded-lg mx-auto sm:h-60 mb-3 z-0 rounded-md cursor-pointer">

                        <img *ngIf="!product.unlocked" src="../../../assets/lock.png" class="absolute top-7 right-4  z-10">

                    <div class="cursor-pointer" *ngIf="product.unlocked"  (click)="navigateAndRefresh(product.id)">
                        <p class="mt-2 text-[14px]">{{ product.title }}</p>
                        <p class="font-bold sm:text-[14px] text-[10px]">{{ product.flavorSubCategoryText }}</p>
                    </div>

                    <div *ngIf="!product.unlocked" class="bg-black rounded-md py-2 mx-2 sm:px-10">

                        <p class="font-bold sm:text-[14px] text-[10px]  text-white">UNLOCK IN NEXT BUFFBOX</p>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>