<nav class="sticky top-0 bg-white z-50 shadow-md">
  <div class="mx-auto px-0 lg:px-56">
    <div class="flex h-[53px] sm:h-[80px] justify-between">
      <div class="flex px-4">
        <div class="flex shrink-0 items-center">
          <a href="/">
            <img class="sm:h-7 h-4 w-auto" src="../../../assets/Buffbox_Wordmark.svg" alt="Your Company">
          </a>
        </div>
      </div>
      <div class="flex items-center  ">
        <!-- Mobile Menu Toggle Button -->
        <div class="md:hidden bg-black flex justify-center">
          <button routerLink="/login" class="bg-white text-black px-4 py-2 md:text-white text-[14px] font-bold orange-text w-auto whitespace-nowrap">
            LOG IN
          </button>
        </div>
        
        
        <div *ngIf="!hideMenu" class="text-white md:hidden bg-black h-full w-full flex justify-center items-center px-2">
          <button type="button" (click)="toggleDropdown()" class="bg-black flex justify-center items-center sm:p-3">
            <img src="../../../assets/mobile-burger-menu.svg" alt="Menu Icon" class="size-10">
          </button>
        </div>
        

        <!-- Desktop Menu -->
        <div *ngIf="!hideMenu" class="hidden md:ml-4 md:flex md:shrink-0 md:items-center">
          <div class="relative hidden md:ml-6 md:flex md:items-center md:space-x-12">
            <a routerLink="/take-quiz/1" class="text-[22px] px-3 py-2 font-bold text-black" [ngClass]="{'gradient-border': !isHowItWorksActive}" >Get Started</a>
            <a href="#how-it-works"   [ngClass]="{'gradient-border': isHowItWorksActive}" 
            (click)="scrollToSection('how-it-works')" class="text-[22px] px-3 py-2 text-black">How It Works</a>
            <a routerLink="/login" class="text-[22px] px-3 py-2 text-black">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state -->
  <div *ngIf="!hideMenu" class="md:hidden" [ngClass]="{'hidden': !isDropdownOpen}">
    <div class="space-y-4 px-6 pb-3 pt-4 sm:px-3">
      <a routerLink="/take-quiz/1" class="block text-xl font-bold text-black" [ngClass]="{'gradient-border': !isHowItWorksActive}" >Get Started</a>
      <a href="#how-it-works"   [ngClass]="{'gradient-border': isHowItWorksActive}" 
      (click)="scrollToSection('how-it-works')" class="block text-xl font-bold text-black">How It Works</a>
      <!-- <a routerLink="/login" class="block text-xl font-bold text-black">Log In</a> -->
    </div>
  </div>
</nav>
