<app-app-menu></app-app-menu>

<div class="h-screen flex">
  <div class="flex flex-col md:flex-row w-full h-full">
    <!-- Left Section (Image) -->
    <div class="w-full md:w-1/2 h-1/2 md:h-full flex items-center justify-center relative flex-col md:flex-row"
      style="background-image: url('../../../assets/login-bg.png'); background-size: cover; background-position: center;">

      <!-- Wordmark Image for Mobile (hidden on larger screens) -->
      <img src="../../../assets/Buffbox_Wordmark.svg" alt="Login Image" class="w-60 object-cover block lg:hidden mt-20">

      <!-- Sample Login Image (will cover the space) -->
      <img src="../../../assets/sample-login.svg" alt="Login Image" class="w-full h-full object-cover">
    </div>

    <!-- Right Section (Form) -->
    <div class="w-full md:w-1/2 h-1/2 md:h-full flex items-center justify-center bg-white">
      <div class="w-3/4 max-w-md">
        <img src="../../../assets/Buffbox_Wordmark.svg" alt="Login Image"
          class="w-60 h-full mx-auto object-cover py-16 hidden lg:block">

        <h2 class="sm:text-[40px] text-[18px] font-bold  text-center">Welcome Back!</h2>
        <p class="sm:text-[14px] text-[12px] text-center sm:px-12 py-2">Log in to Buffbox to unlock a personalized
          supplement membership
        </p>
        <form [formGroup]="signinForm" (ngSubmit)="login()"  class="mt-6">
          <div class="flex items-center justify-center w-full">
            <input placeholder="Username or email address" formControlName="emailInput" [(ngModel)]="user.EmailAddress" email="true" id="email-address"
            name="email" type="email" autocomplete="email" required
              class="input-border rounded-md px-4 py-3 w-full text-center">
          </div>

          <div class="flex items-center justify-center w-full mt-4">
            <input formControlName="passwordInput" [(ngModel)]="user.Password" id="password" name="password"
            type="password" autocomplete="current-password" required placeholder="Password" class="input-border rounded-md px-4 py-3 w-full text-center">
          </div>


          <div *ngIf="signinForm && signinForm.invalid && signinForm.touched" class="text-red-500 mt-2">
            <p *ngIf="signinForm.get('emailInput')?.errors?.['required']">Email is required.</p>
            <p *ngIf="signinForm.get('emailInput')?.errors?.['email']">Please enter a valid email.</p>
            <p *ngIf="signinForm.get('passwordInput')?.errors?.['required']">Password is required.</p>
          </div>

          <button
            class="w-full mt-6 text-white bg-black py-4 rounded-md text-[16px] sm:text-[25px] font-bold">Continue</button>
        </form>
      </div>
    </div>
  </div>
</div>