<app-quiz-progress-bar [progress]="progress"></app-quiz-progress-bar>

<div class="mx-auto sm:py-10 py-6 px-6 sm:px-10 lg:px-36">
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
    <div class="p-0.5 sm:p-8 lg:p-16">
      <p class="text-[30px] sm:text-[64px] lg:text-[96px] leading-tight font-bold">
        Any dietary restrictions, allergies or intolerance?
      </p>
    </div>

    <div class="flex justify-center items-center w-full">
      <app-checkbox-button [enumValues]="dietaryRestrictions" [selectedValues]="quiz.dietaryRestrictions">
      </app-checkbox-button>
    </div>
  </div>
</div>