.radial-gradient {
    background: linear-gradient(to right, #F05E23 5.49%, #ECA741 28.04%, #F05E23 67.03%, #ECA741 100%);
}

.card-bg {
    background-color: #F0F0F0;
}

.locked-card-bg {
    background: rgba(0, 0, 0, 0.24);
}

.discount-bg-lock {
    background-color: #f0f0f0;
}

.text-gradient {
    background: linear-gradient(to bottom, #ECA741 0%, #F05E23 100%);
}

.orange {
    color: #F05E23;
}

.bg-crad-lock {
    background: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(0px);
    z-index: 10;
    pointer-events: none; /* This allows clicks to pass through to elements below */
}

.card-container:hover .bg-crad-lock {
    background: rgba(0, 0, 0, 0.24);
    backdrop-filter: blur(0px);
}