

.hero-bg{
  background-color: #bbcdd4;
}

.h-screen {
    height: 100vh; /* Full viewport height */
}
.bg-gradient {
    background: linear-gradient(to bottom, white 30%, black 30%);
  }


  /* Mobile version: Adjust the gradient to start below the "How It Works" section */
  @media (max-width: 1024px) {
    .bg-gradient {
      background: linear-gradient(to bottom, white 10%, black 10%);
    }
  }

  .custom-shadow {
    color: white;
    text-shadow: -1px -1px 2px rgba(180, 180, 180, 0.5), 
                 1px 1px 2px rgba(0, 0, 0, 0.5);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.video-border {
  border-radius: 16px;
  border: 7px solid #000;
}
.bg-quiz-view{
  background-color: #181818;
}

.scrolling-sec{
  background: linear-gradient(90deg, #F05E23 0%, #F9A638 100%);
}