<app-app-menu></app-app-menu>

<div class="relative sm:py-0 py-16 sm:h-screen px-6 lg:px-56 bg-no-repeat bg-center bg-cover 
bg-[url('/assets/hero-mobile.png')] sm:bg-[url('/assets/hero-image.png')]">

    <div class="absolute inset-0 h-full bg-gradient-to-r from-black to-transparent"></div>

    <div class="relative max-w-3xl text-start sm:text-left flex items-center h-full">
        <div>
            <h1
                class="text-[44px] sm:text-[60px] lg:text-[66px] font-bold text-white leading-tight custom-shadow w-48 block sm:hidden  pt-4">
                Try Before You Buy Protein Powder
            </h1>

            <h1
                class="text-[42px] sm:text-[60px] lg:text-[66px] font-bold text-white leading-tight custom-shadow  hidden sm:block">
                Try Before You Buy and Find Your Perfect Protein Powder
            </h1>

            <p class="text-white max-w-xl text-[18px] sm:text-[25px]">
                Curated sample packets based on a short questionnaire. <span class="font-bold">Get up to 40% off </span>
                your next protein tub!
            </p>
            <div class="mt-10 flex justify-left gap-x-6 pb-1">
                <a routerLink="/take-quiz/1" class="bg-gradient-to-r from-[#F9A438] to-[#F05E23] 
                rounded-md px-6 h-[42px] sm:h-[63px] text-[20px] sm:text-[25px] font-medium text-center flex 
                items-center justify-center w-full sm:w-96 text-white shadow-sm">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</div>

<div class="relative flex overflow-x-hidden bg-black text-white sm:text-[25px] text-[18px] font-medium">
    <div class="py-6 animate-marquee whitespace-nowrap flex mx-4">
        <span class="mx-6 flex items-center">
            <img src="../../../assets/thebuffbox-orangeicon.png" alt="Item 1" class="w-8 h-8 mr-2"> FIND YOUR MATCH
        </span>
        <span class="mx-6 flex items-center">
            <img src="../../../assets/thebuffbox-orangeicon.png" alt="Item 2" class="w-8 h-8 mr-2"> NO MORE BLIND
            PURCHASES
        </span>
        <span class=" mx-6 flex items-center">
            <img src="../../../assets/thebuffbox-orangeicon.png" alt="Item 3" class="w-8 h-8 mr-2"> SAY GOODBYE TO
            UNFINISHED TUBS
        </span>
        <span class="mx-6 flex items-center">
            <img src="../../../assets/thebuffbox-orangeicon.png" alt="Item 4" class="w-8 h-8 mr-2"> ZERO GUESSWORK
        </span>
        <span class="mx-6 flex items-center">
            <img src="../../../assets/thebuffbox-orangeicon.png" alt="Item 5" class="w-8 h-8 mr-2"> FINDING THE PERFECT
            PROTEIN SHOULDN’T FEEL LIKE A WORKOUT
        </span>
    </div>

    <div class="absolute top-0 py-6 animate-marquee2 whitespace-nowrap flex mx-4">
        <span class="mx-6 flex items-center">
            <img src="../../../assets/thebuffbox-orangeicon.png" alt="Item 1" class="w-8 h-8 mr-2"> FIND YOUR MATCH
        </span>
        <span class="mx-6 flex items-center">
            <img src="../../../assets/thebuffbox-orangeicon.png" alt="Item 2" class="w-8 h-8 mr-2"> NO MORE BLIND
            PURCHASES
        </span>
        <span class="mx-6 flex items-center">
            <img src="../../../assets/thebuffbox-orangeicon.png" alt="Item 3" class="w-8 h-8 mr-2"> SAY GOODBYE TO
            UNFINISHED TUBS
        </span>
        <span class="mx-6 flex items-center">
            <img src="../../../assets/thebuffbox-orangeicon.png" alt="Item 4" class="w-8 h-8 mr-2"> ZERO GUESSWORK
        </span>
        <span class="mx-6 flex items-center">
            <img src="../../../assets/thebuffbox-orangeicon.png" alt="Item 5" class="w-8 h-8 mr-2"> FINDING THE PERFECT
            PROTEIN SHOULDN’T FEEL LIKE A WORKOUT
        </span>
    </div>
</div>

<div class="relative px-6 lg:px-56 flex flex-col lg:flex-row items-center lg:items-start py-20">
    <!-- Text Section -->
    <div class="relative max-w-3xl text-left lg:flex-1 order-2 lg:order-1">
        <div>
            <h1 class="text-[32px] sm:text-[32px] lg:text-[66px] font-bold text-black leading-tight">
                Personalized Recommendations. <br> Zero Guesswork.
            </h1>
            <p class="py-6 text-[16px] sm:text-[32px] lg:text-[27px]">
                We match you with the perfect protein powders- so you can spend less time searching and more time achieving your goals.
            </p>
            <div class="flex justify-center sm:justify-start gap-x-6">
                <a routerLink="/take-quiz/1" class="bg-gradient-to-r from-[#F9A438] to-[#F05E23]  
                    rounded-md px-6 h-[42px] sm:h-[63px] text-[20px] sm:text-[25px] font-medium text-center flex 
                    items-center justify-center w-full sm:w-96 text-white shadow-sm">
                    Take the Questionnaire
                </a>
            </div>
        </div>
    </div>

    <!-- Image Section -->
    <div class="mt-8 lg:mt-0 lg:ml-8 flex-1 flex justify-center order-1 lg:order-2">
        <img src="../../../assets/box-mockup.png" alt="Recommendations" class="mr-8 py-6 sm:py-0 max-w-full rounded-lg">
    </div>
</div>

<div id="how-it-works" class="pb-10  px-6 lg:px-56">
    <div class="mx-auto">
        <div class="text-center">
            <h2 class="text-[32px] lg:text-[47px] font-semibold tracking-tight">
                How It Works
            </h2>
        </div>
        <div class="mt-16 grid grid-cols-1 gap-12 sm:gap-20 lg:grid-cols-3">
            <!-- Card 1 -->
            <article class="flex flex-col items-center text-center">
                <img src="../../../assets/hiw-1.png" alt="How It Works" class="w-[150px] sm:w-full max-w-sm">
                <h3 class="mt-6 text-[20px] lg:text-[40px] font-bold leading-tight text-black">
                    Take the Questionnaire
                </h3>
                <p class="mt-2 text-[18px] lg:text-[25px] font-medium text-black">
                    Complete our short questionnaire and see protein powders matched to your preferences.
                </p>
            </article>

            <!-- Card 2 -->
            <article class="flex flex-col items-center text-center">
                <img src="../../../assets/TryYourSamples.png" alt="How It Works" class="w-[150px] sm:w-full max-w-sm">
                <h3 class="mt-6 text-[20px] lg:text-[40px] font-bold leading-tight text-black">
                    Try Your Samples
                </h3>
                <p class="mt-2 text-[18px] lg:text-[25px] font-medium text-black">
                    Your Buffbox is delivered, ready for you to discover what works best.
                </p>
            </article>


            <!-- Card 3 -->
            <article class="flex flex-col items-center text-center">
                <img src="../../../assets/BuyYourNextTub.png" alt="How It Works" class="w-[150px] sm:w-full max-w-sm">
                <h3 class="mt-6 text-[20px] lg:text-[40px] font-bold leading-tight text-black">
                    Buy Your Next Tub
                </h3>
                <p class="mt-2 text-[18px] lg:text-[25px] font-medium text-black">
                    Choose your next perfect protein powder and enjoy exclusive discounts.
                </p>
            </article>
        </div>
    </div>
    <div class="flex pt-16 justify-center">
        <a routerLink="/take-quiz/1" class="bg-gradient-to-r from-[#F9A438] to-[#F05E23]  
            rounded-md px-6 h-[42px] sm:h-[63px] text-[20px] sm:text-[25px] font-medium text-center flex 
            items-center justify-center sm:justify-center w-full sm:w-96 text-white shadow-sm">
            Let's Go
        </a>
    </div>

</div>

<div class="pb-24 sm:pb-80 px-6 lg:px-56">
    <div class="text-center py-6">
        <h2 class="text-[32px] lg:text-[47px] font-semibold tracking-tight">
            FAQ's
        </h2>
    </div>
    <div class="space-y-4 max-w-4xl mx-auto">
        <div class="border border-black rounded-lg">
          <div (click)="toggleAnswer(1)" class="flex justify-between items-center px-4 py-2 cursor-pointer">
            <p class="text-black text-[20px] font-semibold">What is the main purpose of Buffbox?</p>
            <button  class="text-black text-xl">
                <span *ngIf="isOpen[1]">
                  <!-- Minus SVG Icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M19 13H5v-2h14v2z"/>
                  </svg>
                </span>
                <span *ngIf="!isOpen[1]">
                  <!-- Plus SVG Icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M19 13H13V19H11V13H5V11h6V5h2v6h6v2z"/>
                  </svg>
                </span>
              </button>
              
          </div>
          <div *ngIf="isOpen[1]" class=" px-4 py-2">
            <p class="text-black text-[20px] pb-2">Try Before You Buy and Find Your Perfect Protein Powder.
                Curated sample packets based on a short questionnaire. Get up to 40% off your next protein tub!</p>
          </div>
        </div>
      
        <div class="border border-black rounded-lg">
            <div (click)="toggleAnswer(2)" class="flex justify-between items-center px-4 py-2 cursor-pointer">
            <p class="text-black text-[20px] font-semibold">What is Lorem Ipsum?
            </p>
            <button  class="text-black text-xl">
                <span *ngIf="isOpen[2]">
                  <!-- Minus SVG Icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M19 13H5v-2h14v2z"/>
                  </svg>
                </span>
                <span *ngIf="!isOpen[2]">
                  <!-- Plus SVG Icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M19 13H13V19H11V13H5V11h6V5h2v6h6v2z"/>
                  </svg>
                </span>
              </button>
          </div>
          <div *ngIf="isOpen[2]" class="px-4 py-2">
            <p class="text-black text-[20px] pb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      
        <div class="border border-black rounded-lg">
            <div (click)="toggleAnswer(3)" class="flex justify-between items-center px-4 py-2 cursor-pointer">
            <p class="text-black text-[20px] font-semibold">How do I manage my tasks?</p>
            <button  class="text-black text-xl">
                <span *ngIf="isOpen[3]">
                  <!-- Minus SVG Icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M19 13H5v-2h14v2z"/>
                  </svg>
                </span>
                <span *ngIf="!isOpen[3]">
                  <!-- Plus SVG Icon -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                    <path d="M19 13H13V19H11V13H5V11h6V5h2v6h6v2z"/>
                  </svg>
                </span>
              </button>
          </div>
          <div *ngIf="isOpen[3]" class="px-4 py-2">
            <p class="text-black text-[20px] pb-2">You can manage your tasks from the task list in your project dashboard.</p>
          </div>
        </div>
      </div>
      <div class="flex pt-16 justify-center">
        <a routerLink="/take-quiz/1" class="bg-gradient-to-r from-[#F9A438] to-[#F05E23]  
            rounded-md px-6 h-[42px] sm:h-[63px] text-[20px] sm:text-[25px] font-medium text-center flex 
            items-center justify-center sm:justify-center w-full sm:w-96 text-white shadow-sm">
            Get personalized samples
        </a>
    </div>
</div>

<section class="flex flex-col md:flex-row items-center bg-quiz-view text-white px-4 md:px-40 relative overflow-visible sm:h-[380px] pb-6 sm:pb-0">
    <div class="w-full md:w-1/2 ">
        <video 
          src="../../../assets/questionnaire-clip.mov" 
          class="w-full transform translate-y-[-25%] transition-transform video-border" 
          controls 
          autoplay 
          loop 
          muted>
          Your browser does not support the video tag.
        </video>
      </div>
    <div class="w-full md:w-1/2 md:pl-20 -mt-10">
      <h2 class="text-[32px] font-bold mb-4 max-w-md">More of What You Love, 
        Pass on What You Don’t</h2>
        <p class="text-[15px] md:w-[467px]">
            Using hundreds of data points from your quiz and past reviews, our advanced Buffbox technology curates sample products 
            for you, so you can be confident in your next protein powder. Tell us your flavor preferences, diet, allergens, fitness type, etc, 
            and we’ll help curate supplements that are perfect for you!
          </p>
          
    </div>
  </section>

<app-footer></app-footer>