<app-quiz-progress-bar [progress]="progress"></app-quiz-progress-bar>

<div class="mx-auto py-6 lg:py-0 px-4 lg:px-0">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
      <div class="p-0.5 sm:p-8 lg:p-16">
        <p class="text-[30px] sm:text-[64px] lg:text-[96px] leading-tight font-bold">
            Are there any textures you don’t like?       </p>
      </div>
      
      <div class="flex justify-center items-center w-full">
        <app-checkbox-button [enumValues]="textures" [selectedValues]="quiz.textures">
        </app-checkbox-button>
      </div>
    </div>
  </div>
  