

<div class="flex flex-col bg-gray-50 rounded-md border-2 border-gray-100">

    <div class="border-b">
        <div class="px-4 md:px-12 py-2 sm:w-full">
            <h2 class="text-sm font-bold leading-9 tracking-tight text-gray-900">Step 04/05</h2>
            <p class="text-sm -mt-4 leading-9 tracking-tight text-gray-400 mb-1">Profile Information
                
            </p>
            <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4">
                <div class="bg-custom h-2.5 rounded-full" style="width: 80%"></div>
            </div>

        </div>
    </div>

    <div class="py-8 px-4 md:px-12">

<div class="flex min-h-full flex-col justify-center px-6 lg:px-8 mb-4">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm">
      <!-- <img class="mx-auto h-10 w-auto" src="https://tailwindui.com/plus/img/logos/mark.svg?color=gray&shade=600" alt="Your Company"> -->
      <h2 class="mt-2 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Almost done!</h2>
    </div>
  
    <div class="mt-4 sm:mx-auto sm:w-full sm:max-w-sm">
      <div class="space-y-6">
        <div>
          <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email address</label>
          <div class="mt-2">
            <input [(ngModel)]="quiz.profileInfo.emailAddress" id="email" name="email" type="email" autocomplete="email" required 
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 
            placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
          </div>
        </div>
  
        <div>
          <div class="flex items-center justify-between">
            <label for="password" class="block text-sm font-medium leading-6 text-gray-900">Password</label>
      
          </div>
          <div class="mt-2">
            <input [(ngModel)]="quiz.password" id="password" name="password" type="password" autocomplete="current-password" required class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6">
          </div>
        </div>

        <div class="w-full mx-auto">
            <label for="age" class="block text-sm font-medium text-gray-700">Select Age</label>
            <select 
              id="age" 
              [(ngModel)]="quiz.profileInfo.age" 
              class="mt-2 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm 
                     focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm">
              <option *ngFor="let age of ageRange" [value]="age">{{ age }}</option>
            </select>
          </div>
  
        <!-- <div>
          <button type="submit" class="flex w-full justify-center rounded-md bg-gray-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-gray-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-600">Sign in</button>
        </div> -->

        <div>
            <label for="phone-number" class="block text-sm font-medium leading-6 text-gray-900">Phone Number</label>
            <div class="relative mt-2 rounded-md shadow-sm">
              <input [(ngModel)]="quiz.profileInfo.phoneNumber"  type="text" name="phone-number" id="phone-number" class="block w-full rounded-md border-0 py-1.5 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="000-000-0000">
            </div>
          </div>

          
        </div>
  
      <!-- <p class="mt-10 text-center text-sm text-gray-500">
        Not a member?
        <a href="#" class="font-semibold leading-6 text-gray-600 hover:text-gray-500">Start a 14 day free trial</a>
      </p> -->
    </div>
  </div>
  
    </div>
</div>