<app-app-menu></app-app-menu>

<div class="flex flex-col items-center py-8">
    <h1 class="font-bold text-[30px]">Become an Ambassador!</h1>
    
    <div class="text-center mt-2 mb-6">
        <p>We'd love to be a part of your fitness journey!</p>
        <p>Enjoy exclusive access to new drops and a commission program</p>
    </div>

    <div class="max-w-lg mx-auto sm:px-0 px-4 pb-10 w-full">
        <div class="flex flex-col gap-2 sm:gap-4">
            <div class="flex-1">
                <div class="relative">
                    <input type="text" id="firstName" name="firstName"
                        class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                        [ngClass]="{'border-red-500': errors.firstName && (formSubmitted || user.firstName.length > 0)}"
                        placeholder=" " [(ngModel)]="user.firstName" />
                    <label for="firstName" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                        peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                        First Name
                    </label>
                    <div *ngIf="errors.firstName && (formSubmitted || user.firstName.length > 0)" class="text-red-500 text-xs mt-1">
                        {{ errors.firstName }}
                    </div>
                </div>
            </div>

            <div class="flex-1">
                <div class="relative">
                    <input type="text" id="lastName" name="lastName"
                        class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                        [ngClass]="{'border-red-500': errors.lastName && (formSubmitted || user.lastName.length > 0)}"
                        placeholder=" " [(ngModel)]="user.lastName" />
                    <label for="lastName" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                        peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                        Last Name
                    </label>
                    <div *ngIf="errors.lastName && (formSubmitted || user.lastName.length > 0)" class="text-red-500 text-xs mt-1">
                        {{ errors.lastName }}
                    </div>
                </div>
            </div>

            <div class="flex-1">
                <div class="relative">
                    <input type="text" id="fitnessType" name="fitnessType"
                        class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                        placeholder=" " />
                    <label for="fitnessType" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                        peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                        Fitness Type
                    </label>
                </div>
            </div>

            <div class="flex-1">
                <div class="relative">
                    <input type="email" id="email" name="email"
                        class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                        [ngClass]="{'border-red-500': errors.email && (formSubmitted || user.email.length > 0)}"
                        placeholder=" " [(ngModel)]="user.email"/>
                    <label for="email" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                        peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                        Email
                    </label>
                    <div *ngIf="errors.email && (formSubmitted || user.email.length > 0)" class="text-red-500 text-xs mt-1">
                        {{ errors.email }}
                    </div>
                </div>
            </div>

            <div class="flex-1">
                <div class="relative">
                    <input type="text" id="instagram" name="instagram"
                        class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                        [ngClass]="{'border-red-500': errors.instagram && (formSubmitted || user.instagram.length > 0)}"
                        placeholder=" " [(ngModel)]="user.instagram" />
                    <label for="instagram" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                        peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                        Instagram
                    </label>
                    <div *ngIf="errors.instagram && (formSubmitted || user.instagram.length > 0)" class="text-red-500 text-xs mt-1">
                        {{ errors.instagram }}
                    </div>
                </div>
            </div>

            <div class="flex-1">
                <div class="relative">
                    <input type="text" id="tiktok" name="tiktok"
                        class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                        [ngClass]="{'border-red-500': errors.tiktok && (formSubmitted || user.tiktok.length > 0)}"
                        placeholder=" " [(ngModel)]="user.tiktok" />
                    <label for="tiktok" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                        peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                        TikTok
                    </label>
                    <div *ngIf="errors.tiktok && (formSubmitted || user.tiktok.length > 0)" class="text-red-500 text-xs mt-1">
                        {{ errors.tiktok }}
                    </div>
                </div>
            </div>

            <div class="flex-1">
                <div class="relative">
                    <input [(ngModel)]="user.otherSocials" type="text" id="otherSocial" name="otherSocial"
                        class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                        placeholder=" " />
                    <label for="otherSocial" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                        peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                        Other Social Account &#64;'s
                    </label>
                </div>
            </div>
        </div>

        <div class="text-center mt-6 mb-4">
            <p>Thanks for applying! We'll reach out and contact you with more details!</p>
        </div>

        <button (click)="submitRequest()"
            class="w-full py-2 rounded-xl font-bold text-white text-xl uppercase bg-black border-2 border-orange-500">SUBMIT</button>
    </div>
</div>