<div class="relative bg-white rounded-md shadow-lg p-6 max-w-md mx-auto border-2 border-orange-500 py-6">
    <!-- Close button -->
    <div class="absolute top-4 right-4 cursor-pointer" (click)="close()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </div>
    
    <!-- Content -->
    <div class="text-center pt-4">
      <h2 class="text-2xl font-bold mb-4">Refer 2 friends, get a FREE TUB</h2>
      
      <p class="text-base mb-6">
        Know anyone that uses protein powder?<br>
        Share Buffbox with them!
      </p>
      
      <button 
      (click)="copyReferralLink()" 
      class="w-full bg-black text-white font-bold py-4 px-6 rounded-lg hover:bg-gray-800 transition-colors flex items-center justify-center space-x-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
      stroke-linecap="round" stroke-linejoin="round" class="mr-2">
        <rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect>
        <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path>
      </svg>
      <span>Your Referral Link</span>
   
    </button>

    <div *ngIf="isLinkCopied" class="text-green-500 flex items-center justify-center font-medium transition-opacity mt-2">
      <p class="text-green-600 text-sm flex items-center">
        <svg class="w-4 h-4 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
        </svg>
        Link copied!
      </p>
    </div>
    </div>
  </div>