

<div class="flex flex-col bg-gray-50 rounded-md border-2 border-gray-100">

    <div class="border-b">
        <div class="px-4 md:px-12 py-2 sm:w-full">
            <h2 class="text-sm font-bold leading-9 tracking-tight text-gray-900">Step 03/05</h2>
            <p class="text-sm -mt-4 leading-9 tracking-tight text-gray-400 mb-1">Protein Powders
            </p>
            <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4">
                <div class="bg-custom h-2.5 rounded-full" style="width: 60%"></div>
            </div>

        </div>
    </div>

    <div class="py-8 px-4 md:px-12">

        <div class="flex items-center justify-start mb-6">
            <p class="mr-2 text-xl font-bold">Used protein powder before?</p>
            <input [(ngModel)]="quiz.usedProteinBefore" type="checkbox" />
        </div>

        <p class="rounded-md text-sm text-black text-xl font-bold mb-6">How do you mix your protein powder?</p>

        <app-checkbox-button [enumValues]="proteinMixes" [selectedValues]="quiz.proteinMixes">
        </app-checkbox-button>


        
        <p class="rounded-md text-sm text-black text-xl font-bold py-6">Which of these brands have you used and enjoyed the most?</p>

        <app-checkbox-button [enumValues]="proteinBrands" [selectedValues]="quiz.brandUsages">
        </app-checkbox-button>

    
        <p class="rounded-md text-sm text-black text-xl font-bold pt-6 pb-4">Any ones you’ve disliked?</p>
        <div class="mt-2">
            <textarea [(ngModel)]="quiz.dislikedBrands" rows="4" name="comment" id="comment"
                class="block w-full rounded-md border-0 
     text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6"></textarea>
        </div>


    </div>
</div>