<div class="pt-6">
    <div class="flex items-center text-center justify-center mb-2">
      <!-- 30 Days Circle -->
      <div
        class="flex items-center justify-center w-2.5 h-2.5 rounded-full cursor-pointer"
        [ngClass]="{
          'tracking-bg': selectedDay === 1,
          'dash': selectedDay !== 1
        }"
       
      >
      </div>
  
      <div [ngClass]="{
        'tracking-bg': selectedDay === 2,
        'dash': selectedDay !== 2
      }" class="w-8 h-0.5 bg-black mx-8"></div>
  
      <!-- 45 Days Circle -->
      <div
        class="flex items-center justify-center  w-2.5 h-2.5 rounded-full  cursor-pointer"
        [ngClass]="{
          'tracking-bg': selectedDay === 2,
          'dash': selectedDay !== 2
        }"
      >
      </div>
  
      <div [ngClass]="{
        'tracking-bg': selectedDay === 3,
        'dash': selectedDay !== 3
      }" class="w-8 h-0.5 bg-black mx-8"></div>
  
      <!-- 60 Days Circle -->
      <div
        class="flex items-center justify-center w-2.5 h-2.5 rounded-full cursor-pointer"
        [ngClass]="{
         'tracking-bg': selectedDay === 3,
          'dash': selectedDay !== 3
        }"
      >
      </div>

      <div [ngClass]="{
        'tracking-bg': selectedDay === 4,
        'dash': selectedDay !== 4
      }" class="w-8 h-0.5 bg-black mx-8"></div>
  
      <!-- 60 Days Circle -->
      <div
        class="flex items-center justify-center w-2.5 h-2.5 rounded-full cursor-pointer"
        [ngClass]="{
         'tracking-bg': selectedDay === 4,
          'dash': selectedDay !== 4
        }"
      >
      </div>

      <div [ngClass]="{
        'tracking-bg': selectedDay === 5,
        'dash': selectedDay !== 5
      }" class="w-8 h-0.5 bg-black mx-8"></div>
  
      <!-- 60 Days Circle -->
      <div
        class="flex items-center justify-center w-2.5 h-2.5 rounded-full cursor-pointer"
        [ngClass]="{
         'tracking-bg': selectedDay === 5,
          'dash': selectedDay !== 5
        }"
      >
      </div>

      <div [ngClass]="{
        'tracking-bg': selectedDay === 6,
        'dash': selectedDay !== 6
      }" class="w-8 h-0.5 bg-black mx-8"></div>
  
      <!-- 60 Days Circle -->
      <div
        class="flex items-center justify-center w-2.5 h-2.5 rounded-full cursor-pointer"
        [ngClass]="{
         'tracking-bg': selectedDay === 6,
          'dash': selectedDay !== 6
        }"
      >
      </div>

      <div [ngClass]="{
        'tracking-bg': selectedDay === 7,
        'dash': selectedDay !== 7
      }" class="w-8 h-0.5 bg-black mx-8"></div>
  
      <!-- 60 Days Circle -->
      <div
        class="flex items-center justify-center w-2.5 h-2.5 rounded-full cursor-pointer"
        [ngClass]="{
         'tracking-bg': selectedDay === 7,
          'dash': selectedDay !== 7
        }"
      >
      </div>
    </div>

    <div class="flex  text-center  mt-3">
      <div     [ngClass]="{
        'text-black font-bold': selectedDay === 1,
         'step  font-medium': selectedDay !== 1
       }" class="flex  cursor-pointer text-[12px]  w-20">
        <span class="mx-2">12/01
        Billing</span>
      </div>
      <div class="w-[26px] h-2 bg-white"></div>
      <div  [ngClass]="{
        'text-black font-bold': selectedDay === 2,
         'step  font-medium': selectedDay !== 2
       }" class="flex  cursor-pointer text-[12px] w-20">
TBD
Buffbox Assembly
      </div>
      <div class="w-[26px] h-2 bg-white"></div>
      <div  [ngClass]="{
        'text-black font-bold': selectedDay === 3,
         'step  font-medium': selectedDay !== 3
       }" class="flex  cursor-pointer text-[12px]  w-20">
TBD
Buffbox Shipping
      </div>
      <div class="w-[26px] h-2 bg-white"></div>
      <div  [ngClass]="{
        'text-black font-bold': selectedDay === 4,
         'step  font-medium': selectedDay !== 4
       }" class="flex  cursor-pointer text-[12px]  w-20">
TBD
Taste & Pick
      </div>
      <div class="w-[26px] h-2 bg-white"></div>
      <div  [ngClass]="{
        'text-black font-bold': selectedDay === 5,
         'step  font-medium': selectedDay !== 5
       }" class="flex  cursor-pointer text-[12px]  w-20">

<span class="mx-3">TBD
  Review</span>
      </div>
      <div class="w-[26px] h-2 bg-white"></div>
      <div  [ngClass]="{
        'text-black font-bold': selectedDay === 6,
         'step  font-medium': selectedDay !== 6
       }" class="flex cursor-pointer text-[12px] w-20">
<span class="mx-3">TBD
Choice</span>
      </div>
      <div class="w-[26px] h-2 bg-white"></div>
      <div  [ngClass]="{
        'text-black font-bold': selectedDay === 7,
         'step  font-medium': selectedDay !== 7
       }" class="flex  cursor-pointer text-[12px]  w-20">

<span class="mx-3">TBD
  Stay Tuned</span>
      </div>
    </div>
  </div>
  