<div class="flex h-screen items-center justify-center mt-28 sm:mt-2">
  <svg aria-hidden="true"
    class="absolute inset-x-0 -top-14 -z-10 h-[1000px] w-full fill-neutral-50 stroke-neutral-950/5 [mask-image:linear-gradient(to_bottom_left,white_40%,transparent_50%)]">
    <rect width="100%" height="100%" fill="url(#:R1lda:)" stroke-width="0"></rect>
    <svg x="50%" y="-96" stroke-width="0" class="overflow-visible">
      <path transform="translate(64 160)"
        d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z">
      </path>
      <path transform="translate(128 320)"
        d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z">
      </path>
      <path transform="translate(288 480)"
        d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z">
      </path>
      <path transform="translate(512 320)"
        d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z">
      </path>
      <path transform="translate(544 640)"
        d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z">
      </path>
      <path transform="translate(320 800)"
        d="M45.119 4.5a11.5 11.5 0 0 0-11.277 9.245l-25.6 128C6.82 148.861 12.262 155.5 19.52 155.5h63.366a11.5 11.5 0 0 0 11.277-9.245l25.6-128c1.423-7.116-4.02-13.755-11.277-13.755H45.119Z">
      </path>
    </svg>
    <defs>
      <pattern id=":R1lda:" width="96" height="480" x="50%" patternUnits="userSpaceOnUse"
        patternTransform="translate(0 -96)" fill="none">
        <path
          d="M128 0 98.572 147.138A16 16 0 0 1 82.883 160H13.117a16 16 0 0 0-15.69 12.862l-26.855 134.276A16 16 0 0 1-45.117 320H-116M64-160 34.572-12.862A16 16 0 0 1 18.883 0h-69.766a16 16 0 0 0-15.69 12.862l-26.855 134.276A16 16 0 0 1-109.117 160H-180M192 160l-29.428 147.138A15.999 15.999 0 0 1 146.883 320H77.117a16 16 0 0 0-15.69 12.862L34.573 467.138A16 16 0 0 1 18.883 480H-52M-136 480h58.883a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1-18.883 320h69.766a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1 109.117 160H192M-72 640h58.883a16 16 0 0 0 15.69-12.862l26.855-134.276A16 16 0 0 1 45.117 480h69.766a15.999 15.999 0 0 0 15.689-12.862l26.856-134.276A15.999 15.999 0 0 1 173.117 320H256M-200 320h58.883a15.999 15.999 0 0 0 15.689-12.862l26.856-134.276A16 16 0 0 1-82.883 160h69.766a16 16 0 0 0 15.69-12.862L29.427 12.862A16 16 0 0 1 45.117 0H128">
        </path>
      </pattern>
    </defs>
  </svg>
  <div class="w-full max-w-md space-y-8 px-6 -mt-14">
    <div>
      <h1 class="text-6xl font-bold tracking-tight primary-color sm:text-6xl text-center">The Buff Box</h1>
      <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900">Register your account</h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        <!-- <span class="font-medium primary-color">create your webpage... within minutes!</span> -->
      </p>
    </div>

    <div *ngIf="registered">
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-check-circle text-green-500 mr-2"
          viewBox="0 0 16 16" style="height: 1.5rem; width: 1.5rem;">
          <path
            d="M8 0a8 8 0 1 0 8 8A8 8 0 0 0 8 0zm1.47 11.65 3.53-3.53a1 1 0 0 0-1.41-1.41L7 10.59l-2.47-2.47a1 1 0 0 0-1.41 1.41l3 3a1 1 0 0 0 1.41 0z" />
        </svg>
        <p class="text-green-500">Thank you for signing up, keep an eye on your emails inbox for a verification link!
        </p>

      </div>
      <p class="text-sm text-gray-800 py-2">Make sure to also check the spam folder just incase!</p>
      <div class="flex float-right justify-between ">
        <div class="text-sm">
          <a (click)="signIn()" class="cursor-pointer font-medium primary-color">Login?</a>
        </div>
      </div>
    </div>

    <form *ngIf="!registered" [formGroup]="signupForm" (ngSubmit)="register()" class="mt-8 space-y-6" action="#"
      method="POST">
      <input type="hidden" name="remember" value="true">
      <div class="-space-y-px rounded-md shadow-sm">
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input formControlName="emailInput" [(ngModel)]="user.EmailAddress" id="email-address" name="email"
            type="email" autocomplete="email" required
            class="relative block w-full appearance-none rounded-none rounded-t-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Email address">
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input formControlName="passwordInput" [(ngModel)]="user.Password" id="password" name="password"
            type="password" autocomplete="current-password" required
            class="relative block w-full appearance-none rounded-none rounded-b-md border border-gray-300 px-3 py-2 text-gray-900 placeholder-gray-500 focus:z-10 focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm"
            placeholder="Password">
        </div>
      </div>

      <div *ngIf="signupForm.invalid && signupForm.touched" class="text-red-500">
        <p *ngIf="signupForm.get('emailInput')?.errors?.['required']">Email is required.</p>
        <p *ngIf="signupForm.get('emailInput')?.errors?.['email']">Please enter a valid email.</p>
        <p *ngIf="signupForm.get('passwordInput')?.errors?.['required']">Password is required.</p>
      </div>

      <div class="flex float-right justify-between ">
        <!-- <div class="flex items-center">
          <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
          <label for="remember-me" class="ml-2 block text-sm primary-color">Remember me</label>
        </div> -->

        <div class="text-sm">
          <a (click)="signIn()" class="cursor-pointer font-medium primary-color">Already registered?</a>
        </div>
      </div>

      <div>
        <button mat-raised-button [disabled]="isLoading" type="submit"
          class="group relative flex w-full justify-center rounded-md border border-transparent bg-primary-color text-white py-2 px-4 font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2">
          <span class="absolute inset-y-0 left-0 flex items-center pl-3">
            <!-- Heroicon name: mini/lock-closed -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
            </svg>

          </span>
          <span *ngIf="!isLoading">Sign up</span>
          <mat-progress-spinner *ngIf="isLoading" diameter="20" mode="indeterminate"></mat-progress-spinner>
        </button>


      </div>

      <div class="flex flex-col items-center pb-6">
        <div id="buttonDiv"></div>
      </div>
    </form>
  </div>
</div>