@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary-color
{
  background-color: #010409;
}

.regular-text{
  color: #d8d5d5;
}

.bg-progress-bar-fill {
  background: linear-gradient(90deg, #ECA741, #F05D23);
}

.bg-progress-bar {
  background: linear-gradient(90deg, #B3B3B3, #585757);
}
