<app-inside-menu [allowClosing]="true" [showBottomMenu]="false"></app-inside-menu>

<div class="max-w-2xl mx-auto sm:px-0 px-4">
  <div class="pb-24 pt-12">
    <h2 class="sr-only">Checkout</h2>

    <form>
      <div>
        <div class="flex flex-col  justify-center items-center">
          <img src="../../../assets/checkout-discover-plan.png" alt="4 sampleb buffbox"
            class="w-auto h-auto max-w-none pb-6">
          <p class="text-[25px] font-bold text-gray-900 text-center pb-6">Discover Plan</p>
          <p class="text-[23px] font-medium text-gray-900 text-center pb-12">Includes Buffbox w/ 4 samples </p>
        </div>

        <div class="border-t border-gray-200 py-12">
          <h2 class="text-[23px] font-bold text-gray-900 text-center pb-4">Delivery Schedule</h2>
          <p class="text-center text-[23px] pb-2">Adjust how often a new tub is delivered</p>
          <p class="text-center text-[12px] pb-6">(This can be changed in your account at any time)</p>

          <app-delivery-tracker [(selectedDay)]="deliveryDuration"></app-delivery-tracker>

         
        </div>


        <div class="border-t border-gray-200 py-12">
          <h2 class="text-[23px] font-bold text-gray-900 text-center pb-12">Shipping Info</h2>

          <div class="flex flex-wrap gap-4">
            <!-- First Name -->
            <div class="flex-1">
              <div class="relative">
                <input type="text" id="first-name" name="first-name"
                  class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                  placeholder=" " [(ngModel)]="order.identity.firstName" />
                <label for="input-field" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                    peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                  First Name
                </label>
              </div>
            </div>

            <!-- Last Name -->
            <div class="flex-1">
              <div class="relative">
                <input type="text" id="last-name" name="last-name"
                  class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                  placeholder=" " [(ngModel)]="order.identity.lastName" />
                <label for="last-name" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                    peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                  Last Name
                </label>
              </div>
            </div>
          </div>

          <div class="flex flex-wrap gap-4 mt-6">
            <!-- Address Line #1 -->
            <div class="flex-1">
              <div class="relative">
                <input type="text" id="address-line-1"  name="address-line-1"
                  class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                  placeholder=" " [(ngModel)]="order.identity.shippingAddress.street" />
                <label for="address-line-1" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                    peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                  Address line #1
                </label>
              </div>
            </div>

            <!-- Address Line #2 -->
            <div class="flex-1">
              <div class="relative">
                <input type="text" id="address-line-2"  name="address-line-2"
                  class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                  placeholder=" " [(ngModel)]="order.identity.shippingAddress.street2" />
                <label for="address-line-2" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                    peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                  Address line #2
                </label>
              </div>
            </div>
          </div>


          <div class="flex flex-col md:flex-row gap-4 w-full pt-6">
            <div class="flex-1">

              <div class="relative">
                <input type="text" id="city-field"  name="city"
                  class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                  placeholder=" " [(ngModel)]="order.identity.shippingAddress.city" />
                <label for="input-field" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                  peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                  City
                </label>
              </div>
            </div>

            <div class="flex-1">

              <div class="relative">
                <input type="text" id="state-field"  name="state"
                  class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                  placeholder=" " [(ngModel)]="order.identity.shippingAddress.state" />
                <label for="input-field" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                  peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                  State
                </label>
              </div>
            </div>

            <div class="flex-1">
              <div class="relative">
                <input type="text" id="code-field"  name="zip"
                  class="peer w-full border-2 border-gray-300 rounded-md p-2 pt-6 focus:outline-none focus:ring-0 focus:border-gray-500"
                  placeholder=" " [(ngModel)]="order.identity.shippingAddress.postalCode" />
                <label for="input-field" class="absolute left-2 top-2 text-gray-500 text-xs transition-all peer-placeholder-shown:top-6 peer-placeholder-shown:text-[16px] 
                  peer-placeholder-shown:text-gray-400 peer-focus:top-2 peer-focus:text-gray-500">
                  Zip Code
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="border-t border-gray-200 py-12">
          <h2 class="text-[23px] font-bold text-gray-900 text-center pb-6">Payment Info</h2>
          <div class="mt-4">
            <div id="card-element" class="p-3 border-2 border-gray-300 rounded-md shadow-sm mb-8 py-4 text-[16px]">
            </div>
          </div>
        </div>

        <div class="py-12 border-t border-gray-200">
          <h2 class="text-[23px] font-bold text-gray-900 text-center pb-6">Order Summary</h2>
          <div class="mt-4 rounded-lg bg-white">
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 ">
              <div *ngFor="let item of order.items"
                class="group relative flex flex-col overflow-hidden rounded-lg bg-white">

              </div>
            </div>


            <dl class="space-y-2 pb-6">
              <div class="flex items-center justify-between border-b border-gray-200 pb-6">
                <dt class="text-[16px]">BuffBox</dt>
                <dd class="text-[16px] ">${{order.price}}</dd>
              </div>
              <div class="flex items-center justify-between py-4">
                <dt class="text-[16px]">Shipping</dt>
                <dd class="text-[16px] font-bold">Free</dd>
              </div>
              <div class="flex items-center justify-between ">
                <dt class="text-[16px]">Handling Fee</dt>
                <dd class="text-[16px]">${{order.handlingFee}}</dd>
              </div>
              <!-- <div class="flex items-center justify-between py-2">
                <dt class="text-[16px]">Estimated Tax</dt>
                <dd class="text-[16px]">$x.xx</dd>
              </div> -->
            </dl>

            <dl class="space-y-6  pb-6">
              <div class="flex items-center justify-between border-t border-gray-200 pt-6">
                <dt class="text-[16px] font-medium">Total (USD)</dt>
                <dd class="text-[16px] font-bold">${{order.total}}</dd>
              </div>
            </dl>

            <div class="py-6">
              <button 
                (click)="handlePayment()" 
                [disabled]="isProcessing"
                type="submit"
                class="w-full rounded-xl bg-progress-bar-fill px-4 py-2 text-[25px] font-bold text-black 
                  hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 focus:ring-offset-gray-50
                  disabled:bg-gray-400 disabled:text-gray-700">
                {{ isProcessing ? 'Confirming...' : 'Confirm order' }}
              </button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>