<app-inside-menu></app-inside-menu>

<!-- Body with Centered Text -->
<div class="flex items-center justify-center h-screen -mt-32 px-6">
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="font-bold tracking-tight text-gray-900 sm:text-2xl">Thank you for your purchase!</h2>
        <p class="mt-2 text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Orci massa mauris justo, urna et feugiat sagittis et. Aliquet amet suspendisse tellus ultrices hac id imperdiet. Pellentesque sit sit suspendisse at. Mauris duis pharetra dictum aenean ac sed amet.</p>
        <button routerLink="/login" class="sm:w-80 bg-primary-color text-white px-4 py-1.5 rounded font-semibold mt-6 mb-6">Login</button>
    </div>
</div>